html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: sans-serif;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html,
body {
    height: 100%;
    color: white;
}
body {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    font: 1.6em/1.75 'Meiryo', sans-serif;
}
img{
    border-radius: 15%;
}
img.logo {
width: 250px;
height: 115px;
}
img.logo:hover {
  /*カーソルを合わせた時*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}
.logout{
  display: inline-block;
  padding: 0.5em 1em;
  background: white;/*ボタン色*/
  color: black;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  float:right;
}
.logout{
  display: inline-block;
  padding: 0.5em 1em;
  background:red;/*ボタン色*/
  color: white;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  float:right;
}
.submit{
  display: inline-block;
  padding: 0.5em 1em;
  background: #0099FF;/*ボタン色*/
  color: white;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  display:end;
}
.submit:hover {
  /*カーソルを合わせた時*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}
a {
  text-decoration: none;
  color: white;
}
.flex-container {
	display: flex;
	justify-content: flex-start;
}
.logout:hover {
  /*カーソルを合わせた時*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}
*, *:before, *:after {
	box-sizing: border-box;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}
.msg{
    border-top: solid 0.1em white;
    padding: 10px;
}
.day{
    opacity: 0.5;
}
.name{
    padding: 8px;
}
.msg-min1{
    text-align:left;
}
.msg-min2{
    text-align:right;
}
li.h4{
    display: flex;
}
li:hover{
    /*カーソルを合わせた時*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
  color: #00bcd4;
}
textarea{
    background-color:#555555;
}
::placeholder{
    color:white;
}

header,
footer {
    border-radius: px;
    padding: 10px;
    color: white;
}
header {
    background-color: #222222;
}
footer {
    background-color:#222222;
}

nav,
main,
aside {
    border: solid 0.1em white;
    border-radius: px;
    padding: 10px;
    color: white;
}
nav {
    background-color: #333333;
    min-width: 20%;
    max-width: 20%;
    -webkit-order: 0;
    order: 0;
}
main {
    background-color: #444444	;
    color: white;
    -webkit-order: 0;
    order: 0;
    text-align: center;
    width: 80%;
}
.textarea{
    display: center;
    resize: both;
}
.form{
    display: inline-block;
}
/*aside {
    background-color: #333333;
    min-width: 200px;
    max-width: 200px;
    -webkit-order: 1;
    order: 1;
}*/
.paging{
    text-align: center
}

@media screen and (max-width: 800px) {
    .flex-container {
        display: block;
        flex-direction: column;
        text-align: center;
    }
    header{
        min-width: 100%;
        max-width: 100%;
    }
    nav{
        min-width: 100%;
        max-width: 100%;
    }
    main{
        min-width: 100%;
        max-width: 100%;
    }
    footer {
    min-width: 100%;
    max-width: 100%;
}
}
@media screen and (max-width: 480px) {
    .flex-container  {
        display: block;
        flex-direction: column;
        text-align: center;
    }
    .tag{
        display: block;
        flex-direction: column;
        text-align: center;
    }
    header{
        min-width: 100%;
        max-width: 100%;
    }
    nav{
        min-width: 100%;
        max-width: 100%;
    }
    main{
        min-width: 100%;
        max-width: 100%;
    }
    footer {
    min-width: 100%;
    max-width: 100%;
}
}