body{
  margin: 0;
  background-color:#fff;
  color:black;
}

header{
  height: 105px;
  background-color:rgba(129, 135, 136, 0.9);
  color:#fff;
}

.header-left{
  font-size: 30px;
  padding:  0 15px;
  margin: 0 auto;
  float: left;
}

.header-right {
  float: right;
}

.header1{
  font-size: 20px;
  margin: 0 auto;
  line-height: 35px;
  padding: 0 25px;
  display: block;
  border-radius: 9px;
  transition: all 0.5s;
  background-color: rgb(184, 179, 179);
}


.header1:hover {
  background-color: rgba(100, 255, 255, 0.3);
}

.main{
   text-align: center;
    
}
.main-name {
  opacity: 0.9;
  font-size: 50px;
  letter-spacing: 5px;
  text-align: center;
}

.main-list {
  opacity: 0.9;
  font-size: 30px;
  text-align: center;
  letter-spacing: 5px;
}

.entry-1{
  font-size: 20px;
  padding: 0 25px;
  border-radius: 9px;
  transition: all 0.5s;
  background-color: rgba(255, 200, 0, 0.8);
}

.entry-2{
  font-size: 20px;
  padding: 0 25px;
  border-radius: 9px;
  transition: all 0.5s;
  background-color: rgba(150, 200, 100, 0.8);
}

.entry-1:hover {
  background-color: rgba(100,255, 255, 0.3);
}

.entry-2:hover {
  background-color: rgba(0,255, 255, 0.3);
}
